<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <div class="details content">
    <h2><%= course.title %></h2>
    <div class="content">
      <p><%= course.description %></p><br>
      <p class="subject"><%= course.subject %></p><br>
      <p><%= course.credits %></p><br>
    </div>
    <a class="Update" data-doc="<%= course._id %>">Update</a>
    <a class="delete" data-doc="<%= course._id %>">Delete Course</a>
  </div>

  <%- include("../partials/footer.ejs") %>
  
  <script>
    const trashcan = document.querySelector('a.delete');

    trashcan.addEventListener('click', (e) => {
      const endpoint = `/courses/${trashcan.dataset.doc}`;

      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });

  </script>
</body>
</html>